<div class="container-fluid text-center">
    <form action="" #formCadPf style="margin-top: 20px">
        <div class="input-group mb-3">
            <input type="text" class="form-control col-sm-4" placeholder="Nome Completo" id="name" name="name">

            <input type="email" class="form-control col-sm-4" placeholder="Email" id="email" name="email"
                style="margin-left: 10px">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control col-sm-4" mask="000.000.000-00" placeholder="Cpf" id="cpf"
                name="cpf">
            <input class="form-control col-sm-4" type="date" value="01/01/2001" id="start" style="margin-left: 10px">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control col-4" placeholder="Cidade" >
            <input type="text" class="form-control col-2" placeholder="Estado">
            <input type="text" class="form-control col-2" placeholder="Cep">
        </div>
    </form>
</div>